body {
    background-image: url(Backdrop.png);
    background-size: cover;
}
h1 {
    text-align: center;
    font-weight: 900;
    color: yellow;
    background-color: red;
    padding: 2.5vh 0 5vh 0;
    border: 15px dotted black;
}
header {
    position: relative;
    width: 98.9vw;
    height: 5vh;
    padding: 2.5vh 0 2.5vh 0;
    left: -10px;
    top: -45px;
}
footer {
    position: relative;
    width: 98.9vw;
    height: 10vh;
    padding: 2.5vh 0 5vh 0;
    left: -10px;
    bottom: 0;
}
a {
    text-decoration: none;
    color: white;
    background-color: blue;
    display:inline-block;
    font-size: 50px;
    border: 20px goldenrod double;
    height: 120px;
    width: 250px;
    text-align: center;
    transition: all 1s ease-in;
}
iframe {
    width: 90vw;
    height: 90vh;
}
div {
    display: flex;
    height: 200vh;
    width: 98.2vw;
    align-items: center;
    align-content: space-evenly;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#Exit:hover {
    background-color: yellow;
    color: blue;
    border: 20px double white;
    transform: scale(1.1);
    cursor: pointer;
}
a:hover {
    transform: scale(0.9);
    cursor:crosshair;
    background-color: white;
    color: black;
    border: 10px solid black;
}
header:hover, footer:hover {
    cursor: help;
}
div:hover {
    cursor: not-allowed;
}
#back {
    width: 500px;
    height: 200px;
    text-transform: uppercase;
    position: relative;
    right: -400px;
}
#back:hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: black;
    color: white;
    border: 0;
}
